body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    color: #414141;
}
.instructions{
    background: #FAFAFA;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #414141;
    font-weight: 300;
}
h1{
    font-size: 45px;
    font-variant: small-caps;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #FFF;
  border-top: 2px solid goldenrod;
}

.random-number, .total-score, .middle-section, .total-score-div{
    padding: 20px;
    min-height: 150px;
}

.middle-section{
    border-top: 3px solid green;
}

.wins-losses{
    padding: 10px;
    min-height: 150px;
}

#randomNumberField{
    color: skyblue;
}



.img-responsive{
    height: 100px;
    width: 75px;
    cursor: pointer;
    border: 1px solid #aaa;
}

.img-responsive:hover{
    opacity: .8;
}

@media screen and (max-width: 500px) {
    .instructions{
        padding: 2px;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        color: #414141;
        font-weight: normal;
    }
    h1{
        font-size: 22px;
    }
    .middle-section h2{
        font-size: 15px;
    }
    .random-number, .total-score, .middle-section, .total-score-div{
        padding: 15px;
        min-height: 100px;
    }

    .wins-losses{
        padding: 5px;
        min-height: 75px;
    }

}